@{
    ViewBag.Title = "Info";
    Layout = IsAjax ? null : "../../Views/_Layouts/_Info.cshtml";
}

<p class="h4"> 1) Мы считаем, что чем сложнее предметы читает преподаватель, тем более значимы его хорошие оценки.</p>

<p class="h4"> 2) Мы считаем, что чем больше студентов проголосовало, тем более значима хорошая оценка по любому критерию.</p>
<p class="h4">
    Поэтому итоговая формула подсчета выглядит следующим образом:
    <br/>
    Рейтинг = (<b>Сложность предметов</b>)^<i>0.5</i> * (<b>среднее арифметическое всех остальных показателей</b>) * (<b>количество голосов</b> ^ <i>0.2</i>)
</p>
<div class="thumbnail">
    <img src="~/Content/Images/calculation.png" />
    <p class="caption smalltext">Пример подсчёта рейтинга</p>
</div>