@{
    ViewBag.Title = "Info";
    Layout = IsAjax ? null : "../../Views/_Layouts/_Info.cshtml";
    Robots.KeyWords.AddRange(new string[] { "Підрахунок", "Calculation", "Формула" });
    Robots.Description = "Як вираховується рейтинг? Формула підрахунку та принципи вибору критеріїв.";
}

<p class="h4"> 1. Ми вважаємо, що чим складніші предмети читає викладач, тим більш значимі його гарні оцінки.</p>

<p class="h4"> 2. Ми вважаємо, що чим більше студентів проголосувало, тим більш значима гарна оцінка з будь-якого критерію.</p>
<p class="h4" style="font-weight:500;">
    Тому фінальна формула підрахунку виглядає наступним чином:
    <br/>
    Рейтинг = (<strong>Складність предметів</strong>)^<i>0.5</i> * (<strong>середнє арифметичне усіх інших показників</strong>)
    * (<strong>кількість голосів</strong><sup>*</sup> ^ <i>0.2</i>)
    <br />
    <small><sup>*</sup> максимальна кількість голосів, з будь-якого критерію, віддана за викладача.</small>
</p>
<div class="thumbnail" style="margin-bottom: 5px;">
    <img src="~/Content/Images/calculation.png" />
    <p class="caption smalltext">Приклад підрахунку рейтингу</p>
</div>