@{
    ViewBag.Title = "Info";
    Layout = IsAjax ? null : "../../Views/_Layouts/_Info.cshtml";
    Robots.KeyWords.AddRange(new string[] { "Policy", "Політика конфіденційності", "Правила" });
    Robots.Description = "Політика конфіденційності сайту та наші правила. Дізнайтесь про збирання інформації та викорситання приватних даних.";
}

<p>
    Публікуючи цю Політику конфіденційності (далі – <strong>«Політика»</strong>),
    ми демонструємо чистоту своїх намірів та спрямованість на прозорий процесздобуття якісної вищої освіти.
</p>
<p>
    Ця Політика передбачає, яку інформацію ми збираємо про вас на сайті <a href="http://ztu-fikt.azurewebsites.net/">http://ztu-fikt.azurewebsites.net/ </a>
    (далі – <strong>«Сайт»</strong>), мету збору, порядок використання та розкриття третім особам такої інформації.
</p>
<p>
    Реєструючись на Сайті, ви приймаєте умови цієї Політики і даєте згоду на збір, зберігання,
    використання та розголошення своїх персональних даних у відповідності до Законів України <em>«Про захист персональних даних»</em>,
    <em>«Про захист прав споживачів»</em>, <em>«Про захист інформації в інформаційно-телекомунікаційних системах»</em>.
</p>

<h3>1. ЗБІР ТА ВИКОРИСТАННЯ ІНФОРМАЦІЇ</h3>
<p>
    Якщо ви відвідуєте загальнодоступні розділи Сайту лише в режимі перегляду, ми не збираємо про вас ніякої особистої інформації.
</p>
<p>
    Користуватися функціями Сайту можуть лише студенти – особи,
    які навчаються у <strong>Житомирському державному технологічному університеті</strong> з метою здобуття відповідного ступеня і кваліфікації.
    Якщо ви не студент, просимо не використовувати наш Сайт.
</p>
<p>
    Для використання функцій Сайту, зокрема для висловлення думки про якість отримуваної освіти шляхом голосування,
    студенти мають зареєструватися на Сайті за допомогою електронної пошти та паролю або ключа.
</p>
<p>
    Таким чином, ми збираємо таку інформацію, як адреса електронної пошти,
    а також історію використання вами функцій Сайту з метою подальшого формування рейтингу викладачів.
</p>

<h3>2. ЗАХИСТ ІНФОРМАЦІЇ ТА НАША ВІДПОВІДАЛЬНІСТЬ</h3>
<p>
    Ми не продаємо, не обмінюємо, не публікуємо, не надаємо у користування дані зареєстрованих користувачів Сайту.
    Більше того, ми вживаємо всіх необхідних заходів для захисту вашої інформації від неавторизованого доступу, зміни, розкриття чи знищення.
</p>
<p>
    При цьому, звертаємо вашу увагу на те, що жоден з існуючих способів передачі даних не може бути абсолютно безпечним.
    Тому, незважаючи на всі вжиті заходи для захисту інформації, ми не можемо гарантувати цілковиту безпеку отриманої від вас інформації.
</p>
<p>
    Ми не несемо відповідальності за незаконні дії третіх осіб, хакерів, зловмисників та інших порушників,
    які можуть порушувати умови цієї Політики і намагатися заволодіти повністю або частково особистою інформацією і даними користувачів чи
    використовувати їх в особистих цілях.
</p>

<h3>3. ЗМІНИ</h3>
<p>
    Ми можемо редагувати та вносити зміни до цієї Політики без додаткових про це повідомлень.
    Такі зміни публікуються на Сайті та вступають в силу одразу після публікації, якщо інше не визначено у самих змінах.
</p>

<h3>4. ЯК З НАМИ ЗВ’ЯЗАТИСЯ?</h3>
<p>
    Якщо у вас є запитання або пропозиції, пишіть нам на адресу електронної пошти: <a href="mailto:semka148@rambler.ru">semka148@rambler.ru</a>.
</p>

<h3>5. ЗАСТЕРЕЖЕННЯ</h3>

<p>
    <i>
        Якщо ви викладач і відчуваєте дискомфорт через те, що студенти, реалізовуючи своє право на вільне вираження поглядів,
        оцінюють ваші знання та компетенцію, ви можете:
    </i>
    <ol>
        <li><i>залишити цей Сайт і очистити історію свого браузера;</i></li>
        <li><i>залишити займану посаду і надати можливість потрапити на ваше місце викладачу, який здатний адекватно сприймати конструктивну критику;</i></li>
        <li><i>сприйняти критику і працювати над помилками, бо всі ми люди.</i></li>
    </ol>
</p>
<p>
    <i>
        Якщо ви все-таки не здатні сприймати конструктивну критику і бажання студентів покращити якість освіти шляхом голосування, ви можете звернутись із проханням видалити ваше фото, написавши листа на вищевказану адресу електронної пошти.
    </i>
</p>

<p>
    Якщо ви дочитали до цього місця, просимо вас ознайомитися з кількома положеннями чинного законодавства України.
</p>
<p>
    Відповідно до пункту 11 частини 1 статті 62 Закону України <em>«Про вищу освіту»</em> особи,
    які навчаються у вищих навчальних закладах, мають право на участь в обговоренні та вирішенні питань удосконалення навчального процесу,
    науково-дослідної роботи, призначення стипендій, організації дозвілля, побуту, оздоровлення.
</p>
<p>
    Вся інформація, розміщена на Сайті, отримана законим шляхом із відкритих джерел в Інтернеті
    (зокрема, з веб-сайту Житомирського державного технологічного університету - <a href="http://ztu.edu.ua">http://ztu.edu.ua</a>).
    Відповідно до частини 1 статті 20 Закону України <em>«Про інформацію»</em> будь-яка інформація є відкритою, крім тієї,
    що віднесена законом до інформації з обмеженим доступом.
</p>