@{
    ViewBag.Title = "Info";
    Layout = IsAjax ? null : "../../Views/_Layouts/_Info.cshtml";
}

<h3>1. Вступление</h3>
<p>
    Эта Политика Конфиденциальности определяет отношения с персональной идентификационной информацией (далее по тексту "Данные") которая может собираться
    нами на сайте «Рейтинг викладачів» (далее по тексту - "Сайт"). Пожалуйста уделите время и прочтите внимательно наши Правила использования.
</p>
<p>
    Мы уважаем ваши права на конфиденциальность и хотим, чтобы вы чувствовали себя уверенно и комфортно на нашем сайте.
    Поэтому мы прилагаем достаточно усилий для сохранения Вашей личной информации в тайне.
</p>
<p>
    Вся информация, которую вы пожелали сообщить при регистрации, защищена от несанкционированного доступа.
    Мы не продаем, не обмениваем, не публикуем, не даем на временное пользование личные данные зарегистрированных пользователей Сайта.
    Мы используем методы шифрования и защиты вашей личной информации.
</p>

<h3>2. Сбор информации</h3>
<p>
    Сайт собирает только личную информацию, которую Вы предоставляете добровольно при посещении или регистрации на Сайте.
    Понятие "личная информация" включает информацию, которая определяет Вас как конкретное лицо, например, Ваше имя или адрес электронной почты.
    Тогда как просматривать содержание Сайта можно без прохождения процедуры регистрации, Вам потребуется зарегистрироваться,
    чтобы воспользоваться некоторыми функциями, например, создать или изменить проект.
</p>
<p>
    Обратите внимание, что ваше пользовательское имя, адрес почты email и (или) другие предоставленные нам персональные данные могут содержать Ваше реальное имя
    или другую информацию, и как результат, могут появиться на страницах Сайта.
    Мы можем также автоматически получать и записывать в серверные протоколы (логи) техническую информацию из вашего браузера: IP адрес, cookie и адрес запрашиваемой страницы.
</p>

<h3>3. Использование Данных</h3>
<p>
    Вы соглашаетесь, что Администрация Сайта имеет право использовать ваши личные данные для анализа вашего посещения Сайта,
    составления статистики на основе накопленной информации о зарегистрированном пользователе, для рассылки уведомлений и новостей по электронной почте.
</p>
<p>
    Администрация Сайта ни при каких обстоятельствах не продает и не отдает в пользование Вашу личную информацию, каким бы то ни было третьим сторонам.
    Мы также не раскрываем предоставленную Вами личную информацию за исключением случаев, предусмотренных законодательством Украины.
</p>
<p>
    В случае, если вы выбираете использование ссылок, появляющихся на нашем сайте для посещения других вебсайтов, вы должны ознакомиться с политикой
    конфиденциальности применяемой на этих других сайтах.
</p>

<h3>4. Cookie</h3>
<p>
    Сайт применяет технологию "cookies" ("куки") для создания статистической отчетности.
    "Куки" представляет собой небольшой объем данных, отсылаемый веб-сайтом, который браузер Вашего компьютера сохраняет на жестком диске Вашего же компьютера.
    В "cookies" содержится информация, которая может быть необходимой для Сайта, - для сохранения Ваших установок вариантов просмотра и сбора статистической информации по Сайту,
    т.е. какие страницы Вы посетили, что было загружено, имя домена интернет-провайдера и страна посетителя, а также адреса сторонних веб-сайтов,
    с которых совершен переход на Сайт и далее.
    Однако вся эта информация никак не связана с Вами как с личностью. "Cookies" не записывают Ваш адрес электронной почты и какие-либо личные сведения относительно Вас.
    Также данную технологию на Сайте использует установленный анализатор действий <a href="https://www.google.com/analytics/tag-manager/" target="_blank">Google Tag Manager</a>,
    <a href="https://www.google.com/analytics/" target="_blank">Google Analytics</a> и т.п.
</p>
<p>
    Кроме того, мы используем стандартные журналы учета веб-сервера для подсчета количества посетителей и оценки технических возможностей нашего сайта.
    Мы используем эту информацию для того, чтобы определить, сколько человек посещает сайт и организовать страницы наиболее удобным для пользователей способом,
    обеспечить соответствие сайта используемым браузерам, и сделать содержание наших страниц максимально полезным для наших посетителей.
    Мы записываем сведения по перемещениям на сайте, но не об отдельных посетителях сайта,
    так что никакая конкретная информация относительно вас лично не будет сохраняться или использоваться администрацией сайта без вашего согласия.
</p>

<h3>5. изменение и удаление вашей персональной инормации</h3>
<p>
    Мы предоставляем вам возможность изменять вашу пользовательскую информацию, которую вы предоставили при регистрации, на вашей персональной странице.
    Вы можете требовать удалить вашу регистрационную информацию, написав администрации сайта по адресу <a href="mailto:@Resource.mail">@Resource.mail</a>.
</p>
<p>
    Содержание и (или) другие данные и материалы, которые вы могли предоставить нам и которые не содержат внутри вашей пользовательской информации, как-то:
    ваши статьи, сообщения, файлы и прочее, могут продолжать оставаться на сайте на усмотрение Администрации Сайта, даже если действие вашей регистрации прекращено.
</p>

<h3>6. Изменения в Политике Конфиденциальности</h3>
<p>
    Мы можем вносить изменения в Политику Конфиденциальности информации.
    Администрация Сайта обязуется известить вас о существенных изменениях в обращении с персональной информацией либо путем размещения объявления на Сайте,
    либо отправив уведомление на ваш электронный адрес, который Вы предоставили при регистрации на сайте.
</p>

<h3>7. ОТКАЗ ОТ ОТВЕТСТВЕННОСТИ</h3>
<p>
    В то время как эта Политика устанавливает стандарты Сайта по сохранению и поддержке данных и Администрация Сайта прилагает усилия соответствовать им,
    она не гарантирует полное соответствие этим стандартам. Существует много факторов, находящихся вне нашего контроля, которые могут привести к потере Данных.
    Как следствие, мы отказываемся от всяческих гарантий, подразумеваемых и явных, а также требований по обеспечению сохранности и нераскрываемости Данных.
</p>
<p>
    Помните, передача информации личного характера при посещении сторонних сайтов, включая сайты компаний-партнеров,
    даже если веб-сайт содержит ссылку на Сайт или на Сайте есть ссылка на эти веб-сайты, не подпадает под действия данного документа.
    Администрация Сайта не несет ответственности за действия других веб-сайтов.
    Процесс сбора и передачи информации личного характера при посещении этих сайтов регламентируется документом «Защита информации личного характера» или аналогичным,
    расположенном на сайтах этих компаний.
</p>

<h3>8. Контакты</h3>
<p>
    Если у вас есть вопросы или предложения, обратитесь с ними к Администрации Сайта по адресу <a href="mailto:@Resource.mail">@Resource.mail</a>.
</p>