################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AskGenerator/.nuget
/AskGenerator/.nuget/NuGet.exe
/AskGenerator/AskGenerator.Generator/bin
/AskGenerator/Mvc
/AskGenerator/Mvc/bin
/AskGenerator/Mvc/obj
/AskGenerator/packages
/AskGenerator/StarterTemplate/bin
/AskGenerator/StarterTemplate.Business
/AskGenerator/StarterTemplate.Business/bin
/AskGenerator/StarterTemplate.Business/FakesAssemblies
/AskGenerator/StarterTemplate.Business/obj/Release
/AskGenerator/StarterTemplate.DataProvider/bin
/AskGenerator/StarterTemplate.DataProvider/bin/Debug
/AskGenerator/StarterTemplate.DataProvider/bin/Release
