################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AskGenerator/AskGenerator.Generator/bin
/AskGenerator/Mvc/bin
/AskGenerator/Mvc/obj
/AskGenerator/StarterTemplate/bin
/AskGenerator/StarterTemplate/obj
/AskGenerator/StarterTemplate.Business/obj
/AskGenerator/StarterTemplate.Business/bin
/AskGenerator/StarterTemplate.Business/FakesAssemblies
/AskGenerator/StarterTemplate.DataProvider/bin
/AskGenerator/StarterTemplate.DataProvider/obj
/AskGenerator/AskGenerator.Generator/obj
/AskGenerator/StarterTemplate/bin
/AskGenerator/StarterTemplate/bin
/AskGenerator/AskGenerator.Core/bin
/AskGenerator/AskGenerator.Core/obj