.navbar {
    padding-left: 0;
    padding-right: 0;
}

input:not([hidden]){
    display: inline-block;
    max-width: 100%;
    width: 97%;
}

.inline {
    display: inline-block;
}

form.inline {
    text-align: right;
}

.inline input {
    width: 70%;
}

.panel-title a {
    display: inline-block;
    margin: 0 auto;
    width: 90%;
}

.editor-field input[type="radio"], .editor-field input[type="checkbox"] {
    position: relative;
    top: -25px;
}
textarea.multi-line {
width: 90%;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #007acc;
}