input:not([hidden]){
    display: inline-block;
    max-width: 100%;
    width: 97%;
}

.inline {
    display: inline-block;
}

form.inline {
    text-align: right;
}

.inline input {
    width: 70%;
}

.panel-title a {
    display: inline-block;
    margin: 0 auto;
    width: 90%;
}

.editor-field input[type="radio"], .editor-field input[type="checkbox"] {
    position: relative;
    top: -25px;
}
textarea.multi-line {
width: 90%;
}