body {
    background-color: #f2f2f2;
    padding-top: 60px;
}

h1 {
    margin-bottom: 5px;
}

.container {
    max-width: 100%;
}

.navbar .navbar-nav > .active > a {
    background-color: #252525;
}

#navbar-collapse {
    position: relative;
}

#teacherBoard {
    text-align: center;
}

    #teacherBoard .teacher-tile {
        display: inline-block;
        height: 200px;
        margin-bottom: 12px;
        min-width: 200px;
    }
@media (max-width: 767px) {
    #teacherBoard .teacher-tile {
        float: unset;
    }
}

.teacher-tile .badges {
    height: 100%;
    margin-bottom: -100%;
    padding: 5px 3px;
    position: relative;
    top: -100%;
}

    .teacher-tile .badges .badge {
        border-radius: 50%;
        display: block;
        height: 24px;
        line-height: 24px;
        margin-bottom: 4px;
        padding: 0;
        text-align: center;
        width: 24px;
    }

        .teacher-tile .badges .badge[style] {
            background-color: #ffffff;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 102% 102%;
            overflow: hidden;
        }

.teacher-tile .img-thumbnail {
    height: 100%;
    padding: 0 5px;
    width: 100%;
}

    .teacher-tile .img-thumbnail img {
        display: block;
        height: 100%;
        margin: 0 auto;
        max-width: 97%;
        min-width: 55%;
    }

    .teacher-tile .img-thumbnail + span {
        background-color: rgb(200, 200, 200);
        color: #100000;
        display: block;
        margin-top: -1.8em;
        opacity: 0.8;
        position: relative;
        text-align: center;
        width: 100%;
    }

.teacher-tile:hover .img-thumbnail + span {
    opacity: 1;
}

#loader {
    background-image: url("/Content/loader.gif");
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 0 5px 10px rgba(16, 16, 16, 0.35);
    display: block;
    height: 100px;
    margin: 15px auto;
    position: unset;
    width: 100px;
}

.loading {
    background-image: url("/Content/loader.gif");
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    height: 100px;
    min-height: 70px;
    min-width: 70px;
    position: unset;
    width: 100px;
}

/*
    Board
*/
[data-optiond-id="{{option.id}}"] {
    display: none; /*Hide unfilled tags*/
}

.odd {
    position: relative;
    background: rgb(246,246,246);
    background: rgba(0,0,0,0.04);
}

.votes {
    margin-bottom: 10px;
    display: none;
}

.option {
    font-size: 20px;
    padding: 20px 20px 20px 5px;
    color: black;
    cursor: pointer;
    font-family: georgia,serif;
    font-weight: normal;
    font-style: italic;
}

.plus {
    background: transparent url('img/expander-plus.png') 20px center no-repeat;
}

.minus {
    background: transparent url('img/expander-minus.png') 20px center no-repeat;
}

.option > * {
    cursor: pointer;
}

.teacher-item .teacher-tile {
    margin-bottom: 5px;
    width: 130px;
}

.teacher-img {
    background-color: bisque;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    min-width: 65px;
    min-height: 90px;
    max-width: 75px;
    max-height: 100px;
    margin: 0 auto;
}

    .teacher-img::before {
        content: "";
        display: block;
        padding-top: 60% !important;
    }

.teacher-item {
    border-right: 1px inset lightgray;
    margin-top: 0;
    margin-bottom: 0;
}

    .teacher-item span {
        background-color: rgba(200, 200, 200, 0.5);
        display: inline-block;
        margin-top: -1em;
        text-align: center;
        width: 100%;
    }

hr {
    margin: 5px 5px 5px 13.5%;
}

.disabled {
    background-color: darkgray;
}

.votes input[disabled="disabled"] {
    color: red;
}

.point {
    margin: 0 5px;
}

.collapse-mark {
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    padding: 5px 20px 10px 15px;
}

#legend {
    padding: 0 5%;
    text-align: center;
}

    #legend .thumbnail {
        display: inline-block;
        float: none;
        margin: 0 15px 5px;
        padding: 0;
    }

    #legend img {
        margin: 4px auto 0;
        max-width: 100%;
        padding: 4px;
        width: 80%;
    }

a.help {
    color: #4e97d6;
    font-size: 1.2em;
    line-height: 1em;
    padding: 2px;
    text-decoration: underline dotted;
}

.min-form {
    min-width: 255px;
    overflow: hidden;
}

    .min-form form {
        overflow: hidden;
    }

    .min-form form input{
        width: 80%;
    }

.field-validation-error {
    color: #eb1414;
    display: inline-block;
    font-size: 0.9em;
    padding: 2px 0 0;
}
