@using System.Web.Optimization
@{
    ViewBag.Title = @Resources.Resource.IndexHeader;
}

<div>Yahoo!</div>
<div class="panel-heading">
    <div class="text-muted bootstrap-admin-box-title">
        Home, Sweet Home :)
    </div>
</div>
<div class="bootstrap-admin-panel-content">
    <a class="btn btn-primary" href="@Url.Action("Recalculate")" id="recalculate">Recalculate</a>
    <span class="msg"></span>
</div>

@section Scripts{
    <script>
        Index.init();
    </script>
}