@using System.Web.Optimization
@{
    ViewBag.Title = @Resources.Resource.IndexHeader;
}

<div>Yahoo!</div>
<div class="panel-heading">
    <div class="text-muted bootstrap-admin-box-title">
        Home, Sweet Home :)
    </div>
</div>
<div class="bootstrap-admin-panel-content">
    <a class="btn btn-primary" href="@Url.Action("Recalculate")" id="recalculate">Recalculate</a>
    <span class="msg"></span>
    
    <a class="btn btn-primary" href="@Url.Action("SendResult")" id="sendresult">SendResult</a>
    <span class="msg"></span>

    <form action="@Url.Action("ClearCache")" class="col-sm-6 form-inline">
        <input name="url" class="form-control" placeholder="path to clear output cache" value="/" />
        <button type="submit" class="btn btn-default">Clear cache</button>
    </form>
</div>



@section Scripts{
    <script>
        Index.init();
    </script>
}