.question-wrapper {
    text-align: center;
    margin-left: 10px;
    border: 1px dotted lightgrey;
}

.lower {
    float: left;
    font-weight: 700;
}

.higher {
    float: right;
    font-weight: 700;
}

.question {
    font-size: 16px;
    font-weight: bold;
}

.questions-h2 {
    text-align: center;
}

.rate-number {
    margin-top: 5px;
    margin-bottom: 5px;
}

.rate {
    padding: 5px;
}

.rate-row {
    margin-top: 25px;
    margin-bottom: 25px;
}

.student {
    float: left;
    padding: 10px;
}

    .student > .thumbnail {
        width: 80px;
        height: 80px;
        float: left;
        margin-right: 10px;
        background-position: center center !important;
        background-size: cover !important;
        background-repeat: no-repeat, no-repeat;
    }

.techer-name {
    text-align: center;
}

.student > .contact {
    float: left;
}

.student-question-table {
    margin: 0 auto;
}



    .student-question-table > thead td {
        font-size: 1em;
        font-weight: bold;
    }

    .student-question-table tbody td {
        width: 150px;
        height: 50px;
        border-bottom: 1px solid lightgrey;
    }


    .student-question-table tr {
        text-align: center;
    }

footer {
    padding: 1px;
}

div.divider{
    border-top: thin ridge #252525;
    height: 1px;
    margin: 0 auto;
    width:96%;
}
footer .divider{
    margin-top: 8px;
    text-align: right;
}

.star-rating {
  margin: 0;
  padding: 0;
  display: block;
}
star-rating {
    text-align: center;
}
.star-rating .star {
  padding: 1px;
  color: #ddd;
  font-size: 20px;
  text-shadow: .05em .05em #aaa;
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
}
.star-rating .star.filled {
  color: #fd0;
}
.fa-star {
    font-size: 60px!important;
}
.answer {
    overflow: auto;
}
.teacher-tile {
    height: 200px;
    text-align:center;
}
.teacher-item {
    margin-bottom: 15px;
}
.teacher-item  .teacher-img {
    height: 180px;
    width: 180px
}
/*how fix ETO PIZDEC!!!!*/
.panel-default {
    width: 100% !important;
}
