.question-wrapper {
    text-align: center;
    margin-left: 10px;
    border: 1px dotted lightgrey;
}

.lower {
    float: left;
    font-weight: 700;
}

.higher {
    float: right;
    font-weight: 700;
}

.question {
    font-size: 16px;
    font-weight: bold;
}

.questions-h2 {
    text-align: center;
}

.rate-number {
    margin-top: 5px;
    margin-bottom: 5px;
}

.rate {
    padding: 5px;
}

.rate-row {
    margin-top: 25px;
    margin-bottom: 25px;
}

.student {
    float: left;
    padding: 10px;
}

    .student > .thumbnail {
        width: 80px;
        height: 80px;
        float: left;
        margin-right: 10px;
        background-position: center center !important;
        background-size: cover !important;
        background-repeat: no-repeat, no-repeat;
    }

.techer-name {
    text-align: center;
}

.student > .contact {
    float: left;
}

.student-question-table {
    margin: 0 auto;
}



    .student-question-table > thead td {
        font-size: 1em;
        font-weight: bold;
    }

    .student-question-table tbody td {
        width: 150px;
        height: 50px;
        border-bottom: 1px solid lightgrey;
    }


    .student-question-table tr {
        text-align: center;
    }

/*
    Kravchuk
*/
.odd {
    position: relative;
    background: rgb(246,246,246);
    background: rgba(0,0,0,0.04);
}

.votes {
    margin-bottom: 10px;
    display: none;
}

.option {
    font-size: 20px;
    padding: 20px 20px 20px 5px;
    color: black;
    cursor: pointer;
    font-family: georgia,serif;
    font-weight: normal;
    font-style: italic;
}

.plus {
    background: transparent url('img/expander-plus.png') 20px center no-repeat;
}

.minus {
    background: transparent url('img/expander-minus.png') 20px center no-repeat;
}

.option > * {
    cursor: pointer;
}

.teacher-img {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    min-width: 80px;
    min-height: 100px;
}

    .teacher-img::before {
        content: "";
        display: block;
        padding-top: 60% !important;
    }

.teacher-item {
    border-right: 1px inset lightgray;
    margin-top: 0;
    margin-bottom: 0;
}

    .teacher-item span {
        background-color: rgba(200, 200, 200, 0.5);
        display: inline-block;
        margin-top: -1em;
        text-align: center;
        width: 100%;
    }

hr {
    margin: 5px 5px 5px 13.5%;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.disabled {
    background-color: darkgray;
}

.votes input[disabled="disabled"] {
    color: red;
}

.point {
    margin: 0 5px;
}

.done {
    background: rgb(165, 246, 71) !important;
    background: rgba(0,0,0,0.04);
}

.collapse-mark {
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    padding: 5px 20px 10px 15px;
}


/*how fix ETO PIZDEC!!!!*/
.panel-default{
    width: 100% !important;
}
