.question-wrapper {
    text-align: center;
    margin-left: 10px;
    border: 1px dotted lightgrey;
}

.lower {
    float: left;
    font-weight: 700;
}

.higher {
    float: right;
    font-weight: 700;
}

.question {
    font-size: 16px;
    font-weight: bold;
}

.questions-h2 {
    text-align: center;
}

.rate-number {
    margin-top: 5px;
    margin-bottom: 5px;
}

.rate {
    padding: 5px;
}

.rate-row {
    margin-top: 25px;
    margin-bottom: 25px;
}

.student {
    float: left;
    padding: 10px;
}

    .student > .thumbnail {
        width: 80px;
        height: 80px;
        float: left;
        margin-right: 10px;
        background-position: center center !important;
        background-size: cover !important;
        background-repeat: no-repeat, no-repeat;
    }

.techer-name {
    text-align: center;
}

.student > .contact {
    float: left;
}

.student-question-table {
    margin: 0 auto;
}



    .student-question-table > thead td {
        font-size: 1em;
        font-weight: bold;
    }

    .student-question-table tbody td {
        width: 150px;
        height: 50px;
        border-bottom: 1px solid lightgrey;
    }


    .student-question-table tr {
        text-align: center;
    }

.row {
    background-color: #ccc;
}


/*how fix ETO PIZDEC!!!!*/
.panel-default {
    width: 100% !important;
}
/*Footer*/

.main-footer {
    bottom: 0;
    font: 15px/1.3 'PT Sans', sans-serif;
    color: #5e5b64;
    height: 155px;
    color: #ccc;
    font-size: 12px;
    position: fixed;
    z-index: -2;
    background-color: #31353a;
    background-image: -webkit-linear-gradient(top, #31353a, #2f3337);
    background-image: -moz-linear-gradient(top, #31353a, #2f3337);
    background-image: linear-gradient(top, #31353a, #2f3337);
    width: 100%;
}

    /* Set a width to the outermost UL and center it */

    .main-footer > ul {
        margin-top: 2px position: relative;
        z-index: -1;
    }

        /* The four columns of links */

        .main-footer > ul > li {
            padding: 5px 0 10px;
            float: left;
        }

    .main-footer ul {
        list-style: none;
    }

    /* The links */

    .main-footer > ul > li ul li {
        margin-left: 20px;
        text-transform: uppercase;
        font-weight: bold;
        line-height: 1.8;
    }

        .main-footer > ul > li ul li a {
            text-decoration: none !important;
            color: #7d8691 !important;
        }

            .main-footer > ul > li ul li a:hover {
                color: #ddd !important;
            }

    /* The company logo */

    .main-footer a.logo {
        color: #e4e4e4 !important;
        text-decoration: none !important;
        font-size: 14px;
        font-weight: bold;
        position: relative;
        margin-left: 16px;
        display: inline-block;
        margin-top: 7px;
    }

        .main-footer a.logo i {
            font-style: normal;
            position: absolute;
            width: 60px;
            display: block;
            left: 48px;
            top: 18px;
            font-size: 12px;
            color: #999;
        }

        .main-footer a.logo:before {
            content: '';
            display: inline-block;
            background: url('/Css/img/logo_nom1.jpg') no-repeat;
            width: 48px;
            height: 47px;
            vertical-align: text-top;
        }

    .main-footer .up {
        background: rgba(0, 0, 0, 0) url("/Css/img/ArrowUp.png") no-repeat scroll 0 0 / cover;
        border: medium none;
        border-radius: 100%;
        content: "";
        display: inline-block;
        height: 47px;
        padding-bottom: 5px;
        vertical-align: text-top;
        width: 47px;
    }

    /* Common styles for the four color bars */

    .main-footer p {
        width: 90%;
        margin-right: 10%;
        padding: 9px 0;
        line-height: 18px;
        background-color: #058cc7;
        font-weight: bold;
        font-size: 14px;
        color: #fff;
        text-transform: uppercase;
        text-shadow: 0 1px rgba(0,0,0,0.1);
        text-align: left;
        box-shadow: 0 0 3px rgba(0,0,0,0.3);
        margin-bottom: 20px;
        opacity: 0.9;
        cursor: default;
        -webkit-transition: opacity 0.4s;
        -moz-transition: opacity 0.4s;
        transition: opacity 0.4s;
    }

    .main-footer > ul > li:hover p {
        opacity: 1;
    }

    .main-footer p:before {
        content: '';
        display: inline-block;
        background: url('/Css/img/sprite.png') no-repeat;
        width: 16px;
        height: 18px;
        margin: 0 12px 0 15px;
        vertical-align: text-bottom;
    }


    /*-------------------------
	The different colors
--------------------------*/


    .main-footer p.home {
        background-color: #0096d6;
        background-image: -webkit-linear-gradient(top, #0096d6, #008ac6);
        background-image: -moz-linear-gradient(top, #0096d6, #008ac6);
        background-image: linear-gradient(top, #0096d6, #008ac6);
    }

        .main-footer p.home:before {
            background-position: 0 -129px;
        }

    .main-footer p.reachus {
        background-color: #00b274;
        background-image: -webkit-linear-gradient(top, #00b274, #00a46b);
        background-image: -moz-linear-gradient(top, #00b274, #00a46b);
        background-image: linear-gradient(top, #00b274, #00a46b);
    }

        .main-footer p.reachus:before {
            background-position: 0 -89px;
        }



* {
    margin: 0;
    padding: 0;
}


/*-------------------------
	General Styles
--------------------------*/


body {
    font: 15px/1.3 'PT Sans', sans-serif;
    color: #5e5b64;
    padding-bottom: 155px;
    /* Create a page-wide stacking context 
	(so that negative margins work as you expect) */
    position: relative;
    z-index: 0;
}

a, a:visited {
    outline: none;
    color: #389dc1;
}

    a:hover {
        text-decoration: none;
    }

section, footer, header, aside {
    display: block;
}

ol {
    margin-left: 30px;
}

    ol li {
        margin-bottom: 2px;
    }


/*-------------------------
	The main container
--------------------------*/


#main {
    position: relative;
    z-index: 1;
    background-color: #fff;
    background-image: -webkit-radial-gradient(center, circle farthest-corner, #fff, #e2e2e2);
    background-image: -moz-radial-gradient(center, circle farthest-corner, #fff, #e2e2e2);
    background-image: radial-gradient(center, circle farthest-corner, #fff, #e2e2e2);
    padding: 120px 0 600px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.2);
}

@page :left {
    margin-left: 1cm;
}

@page :right {
    margin-left: 1cm;
}

@page {
    size: A4 portrait;
    margin: 0;
}

body.print {
    color: #45424b;
    margin: 0;
    padding: 0;
    background-color: white;
    font-size: 11px;
}

    body.print .container {
        max-width: 95%;
    }

    body.print .row {
        background-color: white;
        display: block;
        position: static;
        page-break-after: always;
    }

    body.print h4, body.print h5, body.print h6 {
        margin-bottom: 4px;
        margin-top: 5px;
    }

    body.print table {
        vertical-align: middle;
    }

        body.print table td {
            border-bottom: 1px dashed #888888;
            padding: 2px 5px 1px;
        }

.no-breaks {
    page-break-inside: avoid;
}

@media (max-width: 767px) {
    body {
        padding-bottom: 280px;
    }

    .main-footer {
        height: initial;
    }

    #g-recaptcha {
        transform: scale(0.8);
        transform-origin: 0 0;
    }
}
