@model TeacherListViewModel
@using AskGenerator.ViewModels
@using AskGenerator.Business.Entities
@{
    ViewBag.Title = @Resources.Resource.TeacherBoard;
}

<h1>@Resources.Resource.TeacherBoard</h1>

<section id="teacherBoard" data-src="@Url.Action("Board")">
    <div id="loader" class="popover"></div>
</section>

@section Scripts{ 
    <script>
        Pages.Board.init();
    </script>
}