@{
    Layout = null;
}

<d-expand-collapse id="temp.html" data-optiond-id="{{option.id}}" ng-repeat="option in options | orderBy: 'done'">
    <div ng-class="{'even': $index%2!=0,'odd': $index%2==0}">
        <div class="faqPlus option" ng-click="option.collapse()" ng-class="{'alert-success': option.done}">
            <span class="collapse-mark" ng-class="{'plus': option.collapsed, 'minus': !option.collapsed}"></span>
            {{option.label}}
        </div>
        <div class="votes answer">
            <div ng-repeat="teacher in option.teachers">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-2 teacher-item">
                        <div class="teacher-tile">
                            <div class="teacher-img" ng-style="{'background-image': 'url(' + teacher.image+ ')'}">
                            </div>
                            <span>{{teacher.name}}</span>
                        </div>
                    </div>
                    <div class="col-sm-9 btn-group votes-options" data-toggle="buttons" >
                        <label class="btn btn-default point" ng-repeat="point in teacher.points"
                                ng-class="{'active': $index === teacher.value-1, 'disabled': teacher.revoute}"
                                ng-click="option.vote(teacher.index, $index)" >
                            <input ng-disabled="teacher.revoute" type="radio"
                                    ng-checked="point.checked"
                                    ng-click="option.vote(teacher.index, $index)"
                                    name="{{option.id + teacher.id}}" >
                            {{$index+1}}
                        </label>
                        <button class="btn btn-info" ng-click="option.enableRevote($index)" ng-hide="!teacher.revoute">Переголосовать</button>
                    </div>
                </div>
                <hr/>
            </div>
        </div>
    </div>
</d-expand-collapse>
