@{
    Layout = null;
}

<d-expand-collapse id="temp.html" data-optiond-id="{{option.id}}" ng-repeat="option in options | orderBy: 'done'">
    <div  ng-class="{'even': $index%2!=0,'odd': $index%2==0}">
        <div class="faqPlus option" ng-click="option.collapse()" ng-class="{'alert-success': option.done}">
            <h3>
                <span class="collapse-mark" ng-class="{'plus': option.collapsed, 'minus': !option.collapsed}"></span>
                {{option.label}}
            </h3>
            <div class="answer-title-bar">
                <span class="first-range h6">{{option.low}}</span>
                <span class="first-range h6">{{option.hight}}</span>
            </div>
        </div>
        <div class="row votes answer teachers-voit">
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-7  " ng-repeat="teacher in option.teachers">
                <div class="teacher-item-wrapper">
                    <div class="teacher-item">
                        <div class="teacher-img" ng-style="{'background': 'url(' + teacher.image+ ')' + ' no-repeat center top / cover'}">
                        </div>
                    </div>
                    <span class="black-line"></span>

                    <div class="btn-group votes-options" data-toggle="buttons" ng-mouseleave="teacher.mouseOut()">
                        <label class="point" ng-repeat="point in teacher.points"
                               title="{{$index+1}}"
                               ng-class="{'active': $index <= teacher.value-1, 'disabled': teacher.revoute, 'even': $index%2!=0,'odd': $index%2==0}"
                               ng-click="option.vote(teacher.index, $index)"
                               ng-mouseover="teacher.mouseOver($index)">
                            <input type="radio"
                                   ng-checked="point.checked"
                                   name="{{option.id + teacher.id}}">
                            {{$index+1}}
                        </label>
                    </div>
                    <h4 class="teacher-title">{{teacher.name}}</h4>
                </div>
            </div>
        </div>
    </div>
</d-expand-collapse>
