@{
    Layout = null;
}

<d-expand-collapse id="temp.html" data-optiond-id="{{option.id}}" ng-repeat="option in options | orderBy: 'done'">
    <div ng-class="{'even': $index%2!=0,'odd': $index%2==0}">
        <div class="faqPlus option" ng-click="option.collapse()" ng-class="{'alert-success': option.done}">
            <span class="collapse-mark" ng-class="{'plus': option.collapsed, 'minus': !option.collapsed}"></span>
            {{option.label}}
        </div>
        <div class="votes answer">
            <div class="col-sm-3" ng-repeat=" teacher in option.teachers">
                <div class="teacher-item">
                    <div class="teacher-tile">
                        <div class="teacher-img" ng-style="{'background-image': 'url(' + teacher.image+ ')'}">
                        </div>
                        <span>{{teacher.name}}</span>
                    </div>
                    <star-rating readonly="teacher.readonly" ng-model="teacher.value" max="5" on-rating-select="option.vote(teacher.id, rating)"></star-rating>
                </div>
            </div>
        </div>
    </div>
</d-expand-collapse>
