@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{

        <li class="dropdown">
            <a href="#" role="button" class="dropdown-toggle" data-hover="dropdown"> <i class="glyphicon glyphicon-user"></i>
                @User.Identity.GetEmail()
            <i class="caret"></i></a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Вихід", "Logout", "Account", routeValues: null, htmlAttributes: new { id = "logoutLink" })</li>
                <li><a href="#">Something else here</a></li>
                <li role="presentation" class="divider"></li>
            </ul>
        </li>
}
else
{
    <li>@Html.ActionLink("Реєстрація", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li>@Html.ActionLink("Вхід", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
}
