@model  IList<AskGenerator.ViewModels.QuestionViewModel>

@{
    ViewBag.Title = "Список вопросов";
}

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="text-muted bootstrap-admin-box-title"><a href="@Url.Action("Create", "Question")">+ Добавить вопрос</a></div>
        </div>
        <div class="bootstrap-admin-panel-content">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Вопрос</th>
                        <th>Описание нижней отметки</th>
                        <th>Описание верхней отметки</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var question in Model.OrderBy(x => x.QuestionBody))
                    {
                        <tr>
                            <td>@question.QuestionBody</td>
                            <td>@question.LowerRateDescription</td>
                            <td>@question.HigherRateDescription</td>
                        </tr>
                    }                    
                </tbody>
            </table>
        </div>
    </div>
</div>
