@{
    ViewBag.Title = @Resources.Resource.recoverPass;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        @Resources.Resource.newpassmsg @Html.ActionLink("Натистіть тут для входу", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
