@{
    ViewBag.Title = Resource.RecoverPass;
}

<h1 class="title">@ViewBag.Title</h1>
<div>
    <p>
        @Resource.newpassmsg @Html.ActionLink(Resource.PressToEnter, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
